/* asia.css */

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  
  h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  p {
    margin-bottom: 20px;
    line-height: 1.5;
    margin-left: 10px;
    
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 20px;
    
  }
  
  ul li {
    margin-bottom: 10px;
    font-size: larger;
  }
  
  ul ul {
    padding-left: 20px;
    margin-bottom: 0;
    
  }
  
